<!DOCTYPE html>
<html lang="en">

<%- include('styles/styles') %>

<body>
  <header class="showcase">
    <div class="showcase-content">
      <div class="showcase-top">
        <h1>LOGIN</h1>
      </div>
      <div class="formm">
        <form method="POST" action="/login">
          <h2>Welcome user!</h2>
          <div class="info">
            <input class="email" type="email" placeholder="Email" id="email" name="email"> <br>
            <input class="email" type="password" placeholder="Password" id="password" name="password"> <br>
          </div>
          <div class="btn">
            <button class="btn-primary" type="submit">Log In</button>
          </div>

          <div id="error-message" class="error-message" style="display: none;">Incorrect email or password.</div>

          </div>
          <div class="signup">
            <p>New to User ?</p>
            <a href="/register">Sign up now</a>
          </div>
        </form>
      </div>
    </div>
  </header>
</body>

</html>
