<!DOCTYPE html>
<html lang="en">

<%- include('styles/styles') %>


<body>
  <header class="showcase">
    <div class="showcase-content">
      <div class="showcase-top">
        <h1>REGISTER</h1>
      </div>
      <div class="formm">
        <form method="POST" action="/register">
          <h2>Create new account
          </h2>
          <div class="info">
            <input class="email" type="name" placeholder="Name" id="name" name="name" required> <br>
            <input class="email" type="email" placeholder="Email" id="email" name="email" required> <br>
            <input class="email" type="tel" placeholder="Phone" id="phone" name="phone" required> <br>
            <input class="email" type="password" placeholder="Password" id="password" name="password" required> <br>
          </div>
          <div class="btn">
            <button class="btn-primary" type="submit">Sign UP</button>
          </div>
          <div class="signup">
            <p>Already have an account?</p>
            <a href="/login">Log In</a>
          </div>
        </form>
      </div>
    </div>
  </header>

  <script>
    // Function to allow only numeric input for phone field
    document.getElementById('phone').addEventListener('input', function(event) {
        // Remove non-numeric characters from input value
        this.value = this.value.replace(/\D/g, '');
    });
</script>

</body>

</html>